# Data Engineering 1: Graded Lab 01 - Solution
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Wednesday, March 30th at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Wednesday, April 13th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

In [22]:
import pandas as pd

df = pd.read_csv('./data/imdb.csv')
df.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [23]:
mov_df = df[df['kind'] == 'movie']
min, max, mean = mov_df['rating'].min(), mov_df['rating'].max(), mov_df['rating'].mean()

print('min rating:', min)
print('max rating:', max)
print('mean rating:', mean)

min rating: 8.1
max rating: 9.3
mean rating: 8.354639175257732

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [43]:
df['cumulative worldwide gross clean'] = df['cumulative worldwide gross'].str.extract('\$([0-9,.]+)')
df['cumulative worldwide gross clean'] = df['cumulative worldwide gross clean'].str.replace(',', '')
df['cumulative worldwide gross clean'] = pd.to_numeric(df['cumulative worldwide gross clean'])

mov_df = df[df['cumulative worldwide gross clean'].notna() & (df['kind'] == 'movie')]

min = mov_df['cumulative worldwide gross clean'].min()
max = mov_df['cumulative worldwide gross clean'].max()
mean = mov_df['cumulative worldwide gross clean'].mean()

print('min cumulative worldwide gross:', format(min, '.2f'))
print('max cumulative worldwide gross:', format(max, '.2f'))
print('mean cumulative worldwide gross:', format(mean, '.2f'))

min cumulative worldwide gross: 6540000.00
max cumulative worldwide gross: 2797800564.00
mean cumulative worldwide gross: 390489624.68

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [46]:

min = mov_df.groupby(['genres'])['cumulative worldwide gross clean'].min()
max = mov_df.groupby(['genres'])['cumulative worldwide gross clean'].max()
mean = mov_df.groupby(['genres'])['cumulative worldwide gross clean'].mean()

print(min, max, mean)

genres
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                        2797800564.00
['Action', 'Adventure', 'Drama']                                                   457640427.00
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                       165800000.00
['Action', 'Adventure', 'Fantasy']                                                 654264015.00
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                      825532764.00
['Action', 'Adventure', 'Sci-Fi']                                                 2048709917.00
['Action', 'Adventure']                                                            389925971.00
['Action', 'Crime', 'Drama', 'Thriller']                                           180949045.00
['Action', 'Crime', 'Drama']                                                       120000000.00
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                          132511035.00
['Action', 'Drama', 'Sport']                                                        24215385.00
['Action', 'Sci-Fi']                                                               315000000.00
['Action', 'Thriller']                                                             140767956.00
['Adventure', 'Biography', 'Drama']                                                 56255142.00
['Adventure', 'Comedy', 'Crime']                                                   174600318.00
['Adventure', 'Comedy', 'Sci-Fi']                                                  381109762.00
['Adventure', 'Drama', 'Sci-Fi']                                                   675020017.00
['Adventure', 'Drama', 'Western']                                                  424200000.00
['Adventure', 'Thriller']                                                          470653000.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']      375540831.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                494878759.00
['Animation', 'Action', 'Adventure', 'Family']                                     631442092.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                 857611174.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                            731342744.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']      807082196.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']    504050219.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                          373554033.00
['Animation', 'Adventure', 'Comedy', 'Family']                                     936743261.00
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                           968483777.00
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                     534767889.00
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                           424967620.00
['Biography', 'Comedy', 'Crime', 'Drama']                                          392000694.00
['Biography', 'Comedy', 'Drama', 'Music']                                          322720649.00
['Biography', 'Crime', 'Drama']                                                     98275238.00
['Biography', 'Drama', 'History', 'War']                                           210409945.00
['Biography', 'Drama', 'History']                                                  187733202.00
['Biography', 'Drama']                                                             313542341.00
['Comedy', 'Crime']                                                                 46189568.00
['Comedy', 'Drama']                                                                140000000.00
['Crime', 'Drama', 'Fantasy', 'Mystery']                                           286801374.00
['Crime', 'Drama', 'Mystery', 'Thriller']                                           34449356.00
['Crime', 'Drama', 'Thriller']                                                      14831693.00
['Crime', 'Drama']                                                                  65884703.00
['Crime', 'Thriller']                                                                6540000.00
['Drama', 'History', 'Romance', 'War']                                             400176459.00
['Drama', 'Music']                                                                  48982041.00
['Drama', 'Mystery', 'Thriller']                                                   109676311.00
['Drama', 'Romance', 'Sci-Fi']                                                      73169222.00
['Drama', 'Romance']                                                                15992615.00
['Drama', 'Sport']                                                                 216763646.00
['Drama', 'War']                                                                   481840909.00
['Drama', 'Western']                                                               159157447.00
['Drama']                                                                            7390108.00
['Horror', 'Mystery', 'Sci-Fi']                                                      7821228.00
['Horror']                                                                         441306145.00
['Mystery', 'Thriller']                                                             36888916.00
Name: cumulative worldwide gross clean, dtype: float64 genres
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                        2797800564.00
['Action', 'Adventure', 'Drama']                                                   457640427.00
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                       775398007.00
['Action', 'Adventure', 'Fantasy']                                                 654264015.00
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                     1029153882.00
['Action', 'Adventure', 'Sci-Fi']                                                 2048709917.00
['Action', 'Adventure']                                                            474171806.00
['Action', 'Crime', 'Drama', 'Thriller']                                          1004558444.00
['Action', 'Crime', 'Drama']                                                      1084939099.00
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                          619021436.00
['Action', 'Drama', 'Sport']                                                        24215385.00
['Action', 'Sci-Fi']                                                               463517383.00
['Action', 'Thriller']                                                             140767956.00
['Adventure', 'Biography', 'Drama']                                                 56255142.00
['Adventure', 'Comedy', 'Crime']                                                   174600318.00
['Adventure', 'Comedy', 'Sci-Fi']                                                  381109762.00
['Adventure', 'Drama', 'Sci-Fi']                                                   675020017.00
['Adventure', 'Drama', 'Western']                                                  424200000.00
['Adventure', 'Thriller']                                                          470653000.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']      375540831.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                494878759.00
['Animation', 'Action', 'Adventure', 'Family']                                     631442092.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                 857611174.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                            731342744.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']      807082196.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']    504050219.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                         1068879522.00
['Animation', 'Adventure', 'Comedy', 'Family']                                     936743261.00
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                           968483777.00
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                     534767889.00
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                           424967620.00
['Biography', 'Comedy', 'Crime', 'Drama']                                          392000694.00
['Biography', 'Comedy', 'Drama', 'Music']                                          322720649.00
['Biography', 'Crime', 'Drama']                                                    352114312.00
['Biography', 'Drama', 'History', 'War']                                           210409945.00
['Biography', 'Drama', 'History']                                                  221000000.00
['Biography', 'Drama']                                                             313542341.00
['Comedy', 'Crime']                                                                 46189568.00
['Comedy', 'Drama']                                                                264118201.00
['Crime', 'Drama', 'Fantasy', 'Mystery']                                           286801374.00
['Crime', 'Drama', 'Mystery', 'Thriller']                                          327311859.00
['Crime', 'Drama', 'Thriller']                                                    1074251311.00
['Crime', 'Drama']                                                                 245066411.00
['Crime', 'Thriller']                                                               36000000.00
['Drama', 'History', 'Romance', 'War']                                             400176459.00
['Drama', 'Music']                                                                  48982041.00
['Drama', 'Mystery', 'Thriller']                                                   672806292.00
['Drama', 'Romance', 'Sci-Fi']                                                      73169222.00
['Drama', 'Romance']                                                               677945399.00
['Drama', 'Sport']                                                                 225000000.00
['Drama', 'War']                                                                   481840909.00
['Drama', 'Western']                                                               425368238.00
['Drama']                                                                          226200000.00
['Horror', 'Mystery', 'Sci-Fi']                                                      7821228.00
['Horror']                                                                         441306145.00
['Mystery', 'Thriller']                                                            294804195.00
Name: cumulative worldwide gross clean, dtype: float64 genres
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                        2797800564.00
['Action', 'Adventure', 'Drama']                                                   457640427.00
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                       396371536.33
['Action', 'Adventure', 'Fantasy']                                                 654264015.00
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                      927343323.00
['Action', 'Adventure', 'Sci-Fi']                                                 2048709917.00
['Action', 'Adventure']                                                            432048888.50
['Action', 'Crime', 'Drama', 'Thriller']                                           592753744.50
['Action', 'Crime', 'Drama']                                                       526385924.00
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                          375766235.50
['Action', 'Drama', 'Sport']                                                        24215385.00
['Action', 'Sci-Fi']                                                               389258691.50
['Action', 'Thriller']                                                             140767956.00
['Adventure', 'Biography', 'Drama']                                                 56255142.00
['Adventure', 'Comedy', 'Crime']                                                   174600318.00
['Adventure', 'Comedy', 'Sci-Fi']                                                  381109762.00
['Adventure', 'Drama', 'Sci-Fi']                                                   675020017.00
['Adventure', 'Drama', 'Western']                                                  424200000.00
['Adventure', 'Thriller']                                                          470653000.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']      375540831.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                494878759.00
['Animation', 'Action', 'Adventure', 'Family']                                     631442092.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                 857611174.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                            731342744.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']      807082196.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']    504050219.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                          657243157.25
['Animation', 'Adventure', 'Comedy', 'Family']                                     936743261.00
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                           968483777.00
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                     534767889.00
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                           424967620.00
['Biography', 'Comedy', 'Crime', 'Drama']                                          392000694.00
['Biography', 'Comedy', 'Drama', 'Music']                                          322720649.00
['Biography', 'Crime', 'Drama']                                                    225194775.00
['Biography', 'Drama', 'History', 'War']                                           210409945.00
['Biography', 'Drama', 'History']                                                  204366601.00
['Biography', 'Drama']                                                             313542341.00
['Comedy', 'Crime']                                                                 46189568.00
['Comedy', 'Drama']                                                                202059100.50
['Crime', 'Drama', 'Fantasy', 'Mystery']                                           286801374.00
['Crime', 'Drama', 'Mystery', 'Thriller']                                          152526210.50
['Crime', 'Drama', 'Thriller']                                                     364660089.20
['Crime', 'Drama']                                                                 174959958.67
['Crime', 'Thriller']                                                               21270000.00
['Drama', 'History', 'Romance', 'War']                                             400176459.00
['Drama', 'Music']                                                                  48982041.00
['Drama', 'Mystery', 'Thriller']                                                   383937655.33
['Drama', 'Romance', 'Sci-Fi']                                                      73169222.00
['Drama', 'Romance']                                                               235617862.25
['Drama', 'Sport']                                                                 220881823.00
['Drama', 'War']                                                                   481840909.00
['Drama', 'Western']                                                               292262842.50
['Drama']                                                                           86592888.50
['Horror', 'Mystery', 'Sci-Fi']                                                      7821228.00
['Horror']                                                                         441306145.00
['Mystery', 'Thriller']                                                            123805402.33
Name: cumulative worldwide gross clean, dtype: float64

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [25]:
df['budget clean'] = df['budget'].str.extract('\$([0-9,.]+)')
df['budget clean'] = df['budget clean'].str.replace(',', '')
df['budget clean'] = pd.to_numeric(df['budget clean'])

df['profit'] = df['cumulative worldwide gross clean'] - df['budget clean']
df['profit'] = df['profit'].apply(lambda x: format(x, '.2f'))

mov_df = df[df['cumulative worldwide gross clean'].notna() & (df['kind'] == 'movie')]
mov_df[['title', 'profit']]

                                                title        profit
0                            The Shawshank Redemption   33500000.00
1                                       The Godfather  239066411.00
2                                     The Dark Knight  819558444.00
3                                    Schindler's List  199000000.00
4                                        Pulp Fiction  205928762.00
..                                                ...           ...
92  Pirates of the Caribbean: The Curse of the Bla...  514264015.00
93                                            Aladdin  476050219.00
94                               Beauty and the Beast  399967620.00
95                                           The Help  191639112.00
96                                 Dances with Wolves  402200000.00

[97 rows x 2 columns]

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

In [26]:
df['opening weekend united states clean'] = df['opening weekend united states'].str.extract('\$([0-9,.]+)')
df['opening weekend united states clean'] = df['opening weekend united states clean'].str.replace(',', '')
df['opening weekend united states clean'] = pd.to_numeric(df['opening weekend united states clean'])
df['opening month'] = df['opening weekend united states'].str.extract('(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)')

mov_df = df[df['cumulative worldwide gross clean'].notna() & (df['kind'] == 'movie')]
mov_df_groupby = mov_df.groupby(['opening month'], as_index=False)['opening weekend united states clean']

min = mov_df_groupby.min()
max = mov_df_groupby.max()
mean = mov_df_groupby.mean()

res = pd.DataFrame()
res['month'] = min['opening month']

res['min'] = min['opening weekend united states clean']
res['min'] = res['min'].apply(lambda x: format(x, '.2f'))

res['max'] = max['opening weekend united states clean']
res['max'] = res['max'].apply(lambda x: format(x, '.2f'))

res['mean'] = mean['opening weekend united states clean']
res['mean'] = res['mean'].apply(lambda x: format(x, '.2f'))

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
res['month'] = pd.Categorical(res['month'], categories=months, ordered=True)
res.sort_values(by='month', inplace=True)
res = res.reset_index(drop=True)

res.head(12)

   month          min           max          mean
0    Jan     15172.00   17754905.00    7363771.25
1    Feb  13766814.00   41062440.00   30245305.00
2    Mar    235488.00   88411916.00   23604512.75
3    Apr     12562.00  357115007.00  110242997.67
4    May  34819017.00   68108790.00   51463903.50
5    Jun    340456.00  110307189.00   39295741.70
6    Jul    137301.00  160887295.00   41997361.79
7    Aug    645363.00   26681262.00   17097305.50
8    Sep    212440.00   20817053.00    7305612.70
9    Oct     64770.00   96202337.00   19300409.25
10   Nov     99761.00   70467623.00   18304484.83
11   Dec    179953.00   35363376.00   12879034.67

#### Task 02: Unstructured Data [12 points]. 
This time use the files imdb.csv from Task 01 and the imdb2.csv file. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [1 point]__

In [27]:
import re

imdb = pd.concat([pd.read_csv('./data/imdb.csv'), pd.read_csv('./data/imdb2.csv')])

stopwords = open('data/stopwords_english.txt', 'r', encoding='utf8')
stopwords = stopwords.read().split('\n')

imdb['plotterms'] = imdb['plot'].str.lower()
imdb['plotterms'] = imdb['plotterms'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))
imdb['plotterms'] = imdb['plotterms'].apply(lambda x: re.sub('[^\w\s]', '', x))

imdb.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...,chronicles experiences successful banker priso...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ...",godfather don vito corleone head corleone mafi...
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...,set year events batman 2005 batman lieutenant ...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...,oskar schindler vain greedy german businessman...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...,jules winnfield samuel l jackson vincent vega ...

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [1 point]__

In [28]:
inv_index = {}

uniq_words = set()
imdb['plotterms'].str.split().apply(uniq_words.update)

for uniq in uniq_words:
    inv_index[uniq] = []
    for id in imdb['id']:
        plotterm = imdb.loc[imdb['id'] == id, 'plotterms'].item()
        if uniq in plotterm:
            inv_index[uniq].append(id)

print('avenger', inv_index['avenger'])
print('musician', inv_index['musician'])
print('song', inv_index['song'])
print('psychedelic', inv_index['psychedelic'])

avenger [4154756, 4154796, 103359]
musician [2380307, 108778]
song [109830, 944947, 108778]
psychedelic [120669]

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [1 point]__

In [29]:
posting_ids = inv_index['american']
postings = imdb[imdb['id'].isin(posting_ids)].nlargest(5, 'rating')
postings.head()

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms
102,306414,tv series,The Wire,"['English', 'Greek', 'Mandarin', 'Spanish']","['Crime', 'Drama', 'Thriller']",9.3,NaN,000000000,000000000,000000000,"['The Baltimore drug scene, as seen through th...",the baltimore drug scene eyes drug dealers law...
116,1877514,tv mini series,The Vietnam War,['English'],"['Documentary', 'History', 'War']",9.1,NaN,000000000,000000000,000000000,"[""A comprehensive history of the United States...",a comprehensive history united states involvem...
135,98769,tv mini series,The Civil War,['English'],"['Documentary', 'History', 'War']",9.0,NaN,000000000,000000000,000000000,['A comprehensive survey of the American Civil...,a comprehensive survey american civil war this...
18,88763,movie,Back to the Future,['English'],"['Adventure', 'Comedy', 'Sci-Fi']",8.6,Robert Zemeckis,"$381,109,762","$11,332,134, 07 Jul 1985","$19,000,000 (estimated)","Marty McFly, a typical American teenager of th...",marty mcfly typical american teenager eighties...
23,407887,movie,The Departed,"['English', 'Cantonese']","['Crime', 'Drama', 'Thriller']",8.5,Martin Scorsese,"$289,847,354","$26,887,467, 08 Oct 2006","$90,000,000 (estimated)","In this crime-action tour de force, the South ...",crimeaction tour force south boston police for...

##### __(d) Take the inverted index and create the posting lists for the query terms 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot). Your merging algorithm should be efficient and reduce the number of comparison to a minimum. Don't use existing python methods (like intersect or in) for the merge algorithm. Return the merged posting list as well as the top5 items scored by the rating attribute. [3 points]__

##### __(e) Extend your index to be able to rank the resulting items from Task 2d by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting items.  [2 points]__

##### __(f) Use the TF-IDF score and the cosine similarity to execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) against all plots in the collection. Print the results with the corresponding ranking score. Also execute the query 'american' or 'dream' (the term 'american' or the term 'dream' should be contained in the plot).  [4 points]__