# Data Engineering 1: Graded Lab 01 - Solution
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Wednesday, March 30th at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Wednesday, April 13th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

In [38]:
import pandas as pd

df = pd.read_csv('./data/imdb.csv')
df.head(200)

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ..."
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...
...,...,...,...,...,...,...,...,...,...,...,...
154,2085059,tv series,Black Mirror,['English'],"['Drama', 'Mystery', 'Sci-Fi', 'Thriller']",8.8,NaN,000000000,000000000,000000000,"[""An anthology series exploring a twisted, hig..."
155,2707408,tv series,Narcos,"['English', 'Spanish']","['Biography', 'Crime', 'Drama', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['A chronicled look at the criminal exploits o...
156,98936,tv series,Twin Peaks,"['English', 'Icelandic', 'Afrikaans', 'Norwegi...","['Crime', 'Drama', 'Mystery', 'Thriller']",8.8,NaN,000000000,000000000,000000000,['An idiosyncratic FBI agent investigates the ...
157,4934214,tv series,Taskmaster,['English'],"['Comedy', 'Game-Show']",9.0,NaN,000000000,000000000,000000000,['Five comedians are set tasks challenging the...
158,200276,tv series,The West Wing,['English'],['Drama'],8.9,NaN,000000000,000000000,000000000,['Inside the lives of staffers in the West Win...

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [59]:
mov_df = df[df['kind'] == 'movie']
min, max, mean = mov_df['rating'].min(), mov_df['rating'].max(), mov_df['rating'].mean()

print('min rating:', min)
print('max rating:', max)
print('mean rating:', mean)

min rating: 8.1
max rating: 9.3
mean rating: 8.354639175257732

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [73]:
df['cumulative worldwide gross clean'] = df['cumulative worldwide gross'].str.extract('\$([0-9,.]+)')
df['cumulative worldwide gross clean'] = df['cumulative worldwide gross clean'].str.replace(',', '')
df['cumulative worldwide gross clean'] = pd.to_numeric(df['cumulative worldwide gross clean'])

mov_df = df[df['cumulative worldwide gross clean'].notna() & (df['kind'] == 'movie')]
min = mov_df['cumulative worldwide gross clean'].min()
max = mov_df['cumulative worldwide gross clean'].max()
mean = mov_df['cumulative worldwide gross clean'].mean()

print('min cumulative worldwide gross:', format(min, '.2f'))
print('max cumulative worldwide gross:', format(max, '.2f'))
print('mean cumulative worldwide gross:', format(mean, '.2f'))

min cumulative worldwide gross: 6540000.00
max cumulative worldwide gross: 2797800564.00
mean cumulative worldwide gross: 390489624.68

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [ ]:
cumulative_notna_df.groupby()

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

#### Task 02: Unstructured Data [12 points]. 
This time use the files imdb.csv from Task 01 and the imdb2.csv file. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [1 point]__

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [1 point]__

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [1 point]__

##### __(d) Take the inverted index and create the posting lists for the query terms 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot). Your merging algorithm should be efficient and reduce the number of comparison to a minimum. Don't use existing python methods (like intersect or in) for the merge algorithm. Return the merged posting list as well as the top5 items scored by the rating attribute. [3 points]__

##### __(e) Extend your index to be able to rank the resulting items from Task 2d by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting items.  [2 points]__

##### __(f) Use the TF-IDF score and the cosine similarity to execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) against all plots in the collection. Print the results with the corresponding ranking score. Also execute the query 'american' or 'dream' (the term 'american' or the term 'dream' should be contained in the plot).  [4 points]__